<!DOCTYPE html>
<html>

<head>
    <title>Фото сайт</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../static/instantedit.js"></script>
    <link rel='stylesheet' href='../static/slidershock/css/slider_multiple.css' />
</head>

<body>

<h1>{{gal_id}}</h1>

{% for photo in photos  %}
    <p>
            <img width="200px" src="{{ photo['id'] }} ">
            <p>
                {{ photo['caption'] }}
            </p>

    </p>
    <hr>
{% endfor %}

-------------------------------------------
{{msg}}




</body>
</html>
